/*variables*/
$font: Verdana, Geneva, Tahoma, sans-serif;

body{
    background-color: black;
}

.card{
    background-color: #1F2630;
    width: 450px;
    height: 52vh;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .icon{
        // border: 2px solid red;
        margin-left: 30px;
        margin-top: 30px;
        width: 2.2em;
        height: 2.2em;
        border-radius: 50%;
        background-color: #474a55;
        display: flex;
        justify-content: center;
        // display: none; //hre
        
        .star{
            padding: 10px 12px;

            // display: none;//here
        }
    }

    h1{
        color: #fff;
        font-family: $font;
        font-size: 1.9rem;
        padding-top: 0.2em;
        margin-left: 30px;
    }

    p{
        color: #636c7a;
        font-family: $font;
        font-size: 0.875rem;
        margin-left: 30px;
        width: 85%;
        margin-top: 0.1em;
        line-height: 1.5em;
    }

    .ratings{
        margin-top: 1.8em;
        margin-left: 30px;
        width: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
        
        .rate{
            font-family: $font;
            font-size: 0.9rem;
            color: #636c7a;
            padding: 20px 20px;
            border-radius: 50%;
            width: 2.2em;
            height: 1.2em;
            background-color: #282f39;
            cursor: pointer;

            &:hover{
                background-color: #7b8594;
                color: #fff;
                transition: all 1s ease;
            }

            &:active{
                background-color: #FE7611;
                color: #fff;
                transition: all 1s ease;

            }

        
        }
    .active{
        background-color: #7b8594;
        color: #fff;
        transition: all 0.4s ease;
    }
    }

    

    .btnSubmit{
        margin-top: 1.7em;
        margin-left: 30px;
        padding: 12px ;
        border-radius: 100em;
        width: 85%;
        background-color: #FE7611;
        border: 1px #FE7611;
        color: #fff;
        font-family: $font;
        font-weight: 500;

        &:hover{
            background-color: #fff;
            color: #FE7611;
            transition: all 0.4s ease;
        }
    }


    .afterSubmit{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;

        .tkImg{
            margin-top:3em;
            
        }

        .label{
            background-color:#252D38;
            margin-top: 0.5em;
            width: 180px;
            height: 28px;
            border-radius: 100em;
            
            p{
                margin-top: 0.5em;
                margin-left: 1em;
                text-align: center;
                font-family: $font;
                font-size: 0.7rem;
                font-weight: bold;
                color: #8b5a39;
                width: 86%;
            }
        }

        h1{
            color: #fff;
            font-family: $font;
            font-size: 1.9rem;
            margin-left: 0.4em;
        }
        
        
        p{
            color: #636c7a;
            font-family: $font;
            font-size: 0.8rem;
            width: 86%;
            text-align: center;
            line-height: 1.5em;
        }

    }

}